@using Kingdoms.Application.Features.Player.Commands
@inject ISender _mediator

<MudGrid>
    <MudItem xs="12">
        <MudPaper Class="pa-4">
            <MudForm @bind-IsValid="@success" @bind-Errors="@errors">
                <MudTextField @bind-Value=_username T="string" Label="Please enter your Username" Required="true" RequiredError="User name is required!" />

                <div class="d-flex align-center justify-space-between">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Disabled="@(!success)" Class="ml-auto">Done!</MudButton>
                </div>
            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [Parameter]
    [EditorRequired]
    public string PlayerId { get; set; }

    [Parameter]
    public EventCallback OnPlayerCreated { get; set; }

    private string? _username;
    bool success;
    string[] errors = { };

    private async Task Submit()
    {
        if (string.IsNullOrEmpty(_username)) return;
        await _mediator.Send(new CreatePlayerCommand(PlayerId, _username));
        await OnPlayerCreated.InvokeAsync();
    }
}