@page "/admin"
@using Kingdoms.Application.Features.Database.Commands
@using Kingdoms.Application.Features.Game.Queries
@using Kingdoms.Application.Features.Player.Queries
@using Kingdoms.Application.Services

@attribute [Authorize]

@implements IAsyncDisposable
@inject ISender _mediator
@inject NavigationManager _nav
@inject ISnackbar _snackbar
@inject GameTickService _gameTickServices
@inject HoldingService _holdingService
@inject MapService _mapService

@if (!_isLoaded)
{
    <Loading />
}
else
{
    <h3>Admin</h3>

    @if (_tick is not null)
    {
        <h4>@_tick</h4>
    }

    <MudButton OnClick="ResetDatabase">Reset Database</MudButton>
    <MudPaper Class="d-flex align-center pa-2">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="ConstructHolding">Create Holding</MudButton>
        <MudSelect @bind-Value="_selectedState" Label="Select Country.">
            @foreach (string state in _states)
            {
                <MudSelectItem Value="@state">@state</MudSelectItem>
            }
        </MudSelect>
    </MudPaper>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationState { get; set; }
    private string? _playerId;

    private bool _isLoaded = false;
    private int? _tick = null;
    private string _selectedState;
    private List<string> _states = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(Globals.DefaultDelay);

        if (AuthenticationState is not null)
        {
            var state = await AuthenticationState;
            _playerId = await _mediator.Send(new GetPlayerIdFromAuthenticationStateQuery(state));
            if (_playerId is not null)
            {
                if (_playerId != Environment.GetEnvironmentVariable("ADMIN_ID"))
                {
                    _nav.NavigateTo("/", true);
                }
                _states = await _mapService.GetStates();

            }
        }

        _tick = await _mediator.Send(new GetTickQuery());
        _gameTickServices.OnTickUpdated += GameTickServices_OnTickUpdated;
        _isLoaded = true;
    }

    ValueTask IAsyncDisposable.DisposeAsync()
    {
        _gameTickServices.OnTickUpdated -= GameTickServices_OnTickUpdated;
        return ValueTask.CompletedTask;
    }

    private async Task GameTickServices_OnTickUpdated()
    {
        _tick = await _mediator.Send(new GetTickQuery());
        await InvokeAsync(StateHasChanged);
    }
    private async Task ResetDatabase()
    {
        await _mediator.Send(new ResetDatabaseCommand());
        _snackbar.Add("Database reset!");
        _nav.NavigateTo("/", true);
    }
    private async Task ConstructHolding()
    {
        if (_playerId == null) return;
        await _holdingService.Construct(_playerId, HoldingType.Village, _selectedState);
    }

}