@page "/"

<AuthorizeView>
    <Authorized>
        <Dashboard/>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Kingdoms!</h1>
        <h2>Login to get started, check the top right hand corner of your screen!</h2>
    </NotAuthorized>
</AuthorizeView>