@page "/map"

@if (string.IsNullOrEmpty(_jsonUrl))
{
    <Loading />
}
else
{
    <div style="height: calc(100vh - (var(--mud-appbar-height))); width: calc(100vw - var(--mud-drawer-width)); overflow: hidden;">
        <SfMaps Width="100%" Height="100%">
            <MapsLayers>
                <MapsLayer ShapeData='new {dataOptions= _jsonUrl }' TValue="string">
                </MapsLayer>
            </MapsLayers>
        </SfMaps>
    </div>
}

@code {
    private string? _jsonUrl;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(Globals.DefaultDelay);
        _jsonUrl = "https://raw.githubusercontent.com/martinjc/UK-GeoJSON/refs/heads/master/json/eurostat/ew/nuts1.json";
    }
}