<AuthorizeView>
    <Authorized>
        <a style="color:white" href="Account/Logout">
            <MudIcon Icon="@Presentation.Shared.Icons.Logout" />
        </a>
    </Authorized>
    <NotAuthorized>
        <a style="color:white" href="Account/Login?redirectUri=/">
            <MudIcon Icon="@Presentation.Shared.Icons.Login" />
        </a>
    </NotAuthorized>
</AuthorizeView>